// Basic color palette
@white: #fff;
@black: #000;
@red-dark: #7a1c1c;
@blue: #005ea8;
@yellow-light: #ffffe0;

//C24 Basic color palette
@c24-color-dark-blue: #005ea8;
@c24-color-malaga-blue: #1980d0;
@c24-color-green: #cce7a0;
@c24-color-light-blue: #ecf7fd;
@c24-color-red: #c82d2d;

//C24 Greyscale palette
@c24-color-dark-grey: #575757;
@c24-color-grey: #999;
@c24-color-nobel-grey: #b4b4b4;
@c24-color-light-grey: #dcdcdc;
@c24-color-background-helper: #f4f4f4;
@c24-color-background-grey: #fafafa;

//C24 disturber palette
@c24-color-vibrant-red: #e30613;
@c24-color-vibrant-green: #7ab51d;
@c24-color-vibrant-yellow: #f6b800;

// Grayscale palette
@grey-darker: #666;
@grey-light: #cdcdcd;
@grey-lightest: #f1f1f1;

// Global
@brand-primary: @c24-color-dark-blue;
@brand-secondary: @c24-color-vibrant-green;

//Text Color
@color-text-default: @grey-darker;
@color-text-inverted: @white;
@color-text-grey: @c24-color-grey;
@color-tooltip-icon-default: @c24-color-nobel-grey;
@color-positive-icon-default: @c24-color-vibrant-green;
@color-negative-icon-default: @c24-color-vibrant-red;
@color-not-specified-icon-default: @grey-light;

@base-font-size: 12px;

//Background colors
@backgound-color-disabled-input: @grey-lightest;
@backgound-cart-button-hover: @c24-color-light-grey;

//Border
@border-color-primary: @c24-color-light-grey;
@border-color-hover: @c24-color-nobel-grey;
@border-color-error: @c24-color-red;

//Logo max values
@logo-max-width: 135px;
@logo-max-height: 50px;

//------------------------------------------------ Layout---------------------------------------

// result
@layout-result-width: 994px;
@layout-result-sidebar-width: 238px;
@layout-result-sidebar-margin-right: 14px;
@layout-result-result-width: @layout-result-width - @layout-result-sidebar-width - @layout-result-sidebar-margin-right;

// form
@form-input-text-border-color-error: @c24-color-red;

// cart
@logo-cart-max-width: 150px;
@logo-cart-max-height: 45px;

// third-view-tariff-details
@third-view-tariff-details-tab-border-color: #cecece;